.App {
  font-family: "Helvetica", Arial, sans-serif;
  text-align: center;
}

.App-header {
  background-color: #f1f1f1;
  color: #e81e07;
  padding: 20px;
}

.App-header img {
  height: 40px;
}

.App-header h1 {
  font-size: 2rem;
  margin: 10px 0;
}
.App-body {
  padding: 20px;
}

.App-body p {
  font-size: 1.2rem;
}

.App-footer {
  background-color: #f1f1f1;
  color: #e81e07;
  border-top: 1px solid #ccc;
}